{{ $data := .Site.Data.achievements }}
{{ $playerMap := dict }}
{{ range $data.players }}
  {{ $playerMap = merge $playerMap (dict .id .name) }}
{{ end }}

{{ $slams := sort $data.slams "date" "desc" }}

<ul class="slam-list">
  {{ range first 10 $slams }}
    {{ $playerName := index $playerMap .playerId }}
    <li class="slam-item">
      <span class="badge badge-{{ .slamType }}">{{ .slamType | title }}</span>
      <span class="slam-format">{{ .format }}</span>
      <span class="slam-player">{{ $playerName }}</span>
      <span class="slam-tournament">{{ .tournament }}</span>
      <time class="slam-date" datetime="{{ .date }}">{{ .date }}</time>
      {{ with .notes }}
        <span class="slam-notes">{{ . }}</span>
      {{ end }}
    </li>
  {{ else }}
    <li class="slam-item slam-empty">No slams recorded yet.</li>
  {{ end }}
</ul>
